*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
}

.nav-bar{
    display: flex;
    justify-content: space-between;/*main-axis x */
    align-items: center;/*cross-axis y */
    padding: 5px 30px;
    background: rgba(0,0,0,.3);
    color: white;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 2px;
} 

:root{
    --primary-color:#2c2f33;
    --secondary-color:#fff;
}

#icon{
    cursor: pointer;
}

/*span,nav,img{
    flex-basis: 30%;
}*/

.nav-bar ul{
    margin-top:-13px;
}

.nav-bar ul li{
    list-style: none;
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
}
.nav-bar ul li a{
    text-decoration: none;
    padding: 10px 30px;
    background: #fff;
    border-radius: 5px;
    font-family: "Monteserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    transition: 0.3s;

}

.nav-bar ul li a:hover{
    background: #000;
    color: var(--secondary-color);
    border: 1px solid white;
}


.nav-bar img{
    border-radius: 25px;
}


.row{
    display: flex;
    align-content:center;
}

.col-2{
    flex-basis: 50%;
    padding: 50px;
    min-width: 500px;
    /*border: 1px solid blue;*/
}

.col-2 h1{
    font-size: 65px;
    margin-left: 50px;
}

.col-2 img{
    height: 400px;
    width: 400px;
    border-radius: 250px;
    margin-left: 60px;
    filter: grayscale(80%);
    max-width: 100%;
}

.col-2 img:hover{
    cursor: pointer;
    filter: grayscale(0);
}

#btn-more{
    display: inline-block;
    margin-top:10px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    transition: 0.5s;
    margin-left: 50px
    /*border: 1px solid black;*/
}

#btn-more:hover{
    background:#000;
    color:var(--secondary-color);
}

.col-3{
    flex-basis: 30%;
    /*border: 1px solid red;*/
    background: rgba(255,255,255,.1);
    padding-left:55px;
    padding-top: 20px;
    padding-right: 55px;
    padding-bottom: 15px;
    margin:20px 25px;
    box-shadow:0px 0px 20px 0px rgba(0,0,0,.5);
    cursor: pointer;
    transition: transform 0.5s;
    height: auto;
    min-width: 330px;
    
}

.col-3:hover{
    transform: translateY(-5%);
    box-shadow:0px 0px 10px 0px rgba(255,255,255,.5);
}

.col-3 p{
    text-align: justify;
    line-height: 30px;    

}

.col-3 h3{
    font-size: 25px;
    
}

.ratings{
    color: #ff523b;
}

#col-3{
    display: flex;
    flex-direction: column;
    
}
.small-container{
    flex: 1;
    display: flex;
}

.i-col-2{
    padding: 10px;
    /*border: 1px solid yellow;*/
    flex:45%;
}

.i-col-2 h3{
    font-size: 30px;
}

h2{
    text-align: center;
}

#proj{
    text-decoration: none;
    color: #000;
    background: #fff;
    padding: 10px;
    display: inline-block;
    font-variant: small-caps;
    letter-spacing: 3px;
    border-radius: 10px;
    transition: 0.5s;
}
#proj:hover{
    background: #000;
    color: var(--secondary-color);
    /*border: 1px solid black;*/
    transform: translateX(10%);
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: antiquewhite;
    font-size: 35px;
}

.title::after{
    content: "";
    background: #ff523b;
    width: 80px;
    height:10px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

}



#about, #projects{
   /* border: 1px solid orange;*/
    margin: 100px 0;
    height: 800px;
    color: whitesmoke;
}
#home{
    height: 600px;
    width: 100%;
    color: white;
    margin-top: 20px;
    background: rgba(0,0,0,.3);
    box-shadow:0px 0px 10px 0px rgba(255,255,255,.5);
}
.container{
    padding: 2px 5px;
}

/*FOOTER CSS CODE*/

.footer h1{
    letter-spacing: 10px;
    /*font-family: 'Style Script', cursive;*/
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    color: white;
}
 .footer h1 span:nth-child(2){
    font-size:1.5rem;
}
 .footer h1 span:nth-child(3){
    font-size:1.5rem;
}

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    
}

.footer h3{
    color:var(--secondary-color);
    margin-bottom: 20px;
}

.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex:1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
}

.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center; 
}


.footer ul{
    list-style-type: none;
}

.footer ul li a{
    text-decoration: none;
    color: #8a8a8a;
    font-size: 14px;
}
.footer ul li a:hover{
    font-size:16px;
    color:var(--secondary-color);
}
.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width:20px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}


@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    nav ul li a{
        color:var(--secondary-color);
    }
    
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    
    .col-2,.col-3,.col-4{
        flex-basis: 100%; 
    }

}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
        display: block;
    }
    #proj-title{
        display: block;
        margin-top: 800px;
    }
    
    
    .col-2 img{
        height: 150px;
        width: 150px;
        border-radius: 75px;
    }
        #home{
            height: auto;
        }
    .col-2{
        padding-left: 0;
        padding-right: 100px;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%; 
    }
    .col-3{
        margin-bottom: 40px;
    }
}


